In [5]:
import pandas as pd
pd.set_option('max_columns', 150)

In [6]:
data = pd.read_csv("C:/Users/tvpia/Desktop/Hack1/hackathon-ironhack/datasets/un_gender_data.csv")

In [8]:
data.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,UpperBound,LowerBound,BasePeriod,Source,FootNote,Nature,Units,[Age],[Location],[Reporting Type],[Sex]
0,5,5.1,5.1.1,SG_LGL_GENEQLFP,"Legal frameworks that promote, enforce and mon...",1,World,2018,67.76,2018,NaN,NaN,NaN,UN Women,Data are derived from an assessment of country...,G,PERCENT,NaN,NaN,G,NaN
1,5,5.1,5.1.1,SG_LGL_GENEQLFP,"Legal frameworks that promote, enforce and mon...",8,Albania,2018,100.00,2018,NaN,NaN,NaN,UN Women,Data are derived from an assessment of country...,G,PERCENT,NaN,NaN,G,NaN

In [10]:
data["[Sex]"].value_counts()

FEMALE     16565
BOTHSEX     4700
MALE        3269
Name: [Sex], dtype: int64

In [27]:
df=data[data.Indicator=="5.4.1"]
df.head(5)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,UpperBound,LowerBound,BasePeriod,Source,FootNote,Nature,Units,[Age],[Location],[Reporting Type],[Sex]
1186,5,5.4,5.4.1,SL_DOM_TSPDCW,"Proportion of time spent on unpaid care work, ...",8,Albania,2011,3.33333,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,NaN,CA,PERCENT,10+,RURAL,G,FEMALE
1187,5,5.4,5.4.1,SL_DOM_TSPDCW,"Proportion of time spent on unpaid care work, ...",8,Albania,2011,0.34708,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,NaN,CA,PERCENT,10+,RURAL,G,MALE
1188,5,5.4,5.4.1,SL_DOM_TSPDCW,"Proportion of time spent on unpaid care work, ...",8,Albania,2011,1.11125,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,NaN,CA,PERCENT,65+,RURAL,G,FEMALE
1189,5,5.4,5.4.1,SL_DOM_TSPDCW,"Proportion of time spent on unpaid care work, ...",8,Albania,2011,1.59708,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,NaN,CA,PERCENT,65+,URBAN,G,FEMALE
1190,5,5.4,5.4.1,SL_DOM_TSPDCW,"Proportion of time spent on unpaid care work, ...",8,Albania,2011,0.55542,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,NaN,CA,PERCENT,65+,URBAN,G,MALE

In [22]:
df.shape

(6296, 21)

In [28]:
df.SeriesDescription.unique()

array(['Proportion of time spent on unpaid care work, by sex, age and location (%)',
       'Proportion of time spent on unpaid domestic chores, by sex, age and location (%)',
       'Proportion of time spent on unpaid domestic chores and care work, by sex, age and location (%)'],
      dtype=object)

In [29]:
ds = df[df.SeriesDescription == "Proportion of time spent on unpaid domestic chores, by sex, age and location (%)"]

In [30]:
ds.shape

(2053, 21)

In [31]:
ds.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       ' UpperBound', ' LowerBound', ' BasePeriod', ' Source', 'FootNote',
       'Nature', 'Units', '[Age]', '[Location]', '[Reporting Type]', '[Sex]'],
      dtype='object')

In [48]:
#ds = ds.rename(columns={"[Age]":"Age","[Sex]":"Gender","GeoAreaName":"Country"})
ds = ds.rename(columns={"[Location]":"Location"})

In [49]:
ds.head(1)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,Country,TimePeriod,Value,Time_Detail,UpperBound,LowerBound,BasePeriod,Source,FootNote,Nature,Units,Age,Location,[Reporting Type],Gender
3212,5,5.4,5.4.1,SL_DOM_TSPDDC,Proportion of time spent on unpaid domestic ch...,8,Albania,2011,6.18042,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,"Unpaid domestic work includes ""Other unpaid wo...",CA,PERCENT,65+,ALLAREA,G,MALE

In [52]:
ds.groupby("Country")["Gender","Age"].agg('count')

                                                    Gender  Age
Country
Albania                                                 12   12
Algeria                                                  8    8
Argentina                                                6    6
Armenia                                                 38   38
Australia                                                2    2
...                                                    ...  ...
Turkey                                                  48   48
United Kingdom of Great Britain and Northern Ir...      24   24
United Republic of Tanzania                              6    6
United States of America                               210  210
Uruguay                                                  4    4

[82 rows x 2 columns]

In [55]:
test =ds.pivot_table(index="Country",values=["Age","Gender"],columns="Value")#,aggfunc={'mean','median','std','count'})

DataError: No numeric types to aggregate

In [56]:
gender_map = {'MALE': 0, 'FEMALE': 1}
ds.Gender = ds.Gender.map(gender_map)
ds.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,Country,TimePeriod,Value,Time_Detail,UpperBound,LowerBound,BasePeriod,Source,FootNote,Nature,Units,Age,Location,[Reporting Type],Gender
3212,5,5.4,5.4.1,SL_DOM_TSPDDC,Proportion of time spent on unpaid domestic ch...,8,Albania,2011,6.18042,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,"Unpaid domestic work includes ""Other unpaid wo...",CA,PERCENT,65+,ALLAREA,G,0
3213,5,5.4,5.4.1,SL_DOM_TSPDDC,Proportion of time spent on unpaid domestic ch...,8,Albania,2011,21.31958,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,"Unpaid domestic work includes ""Other unpaid wo...",CA,PERCENT,10+,RURAL,G,1

In [59]:
per_country = ds.groupby("Country")[["Value","TimePeriod","Gender"]].agg('count')

In [63]:
ds["[Reporting Type]"].value_counts()

G    2053
Name: [Reporting Type], dtype: int64