In [5]:
import pandas as pd
pd.set_option('max_columns', 150)

In [6]:
data = pd.read_csv("C:/Users/tvpia/Desktop/Hack1/hackathon-ironhack/datasets/un_gender_data.csv")

In [8]:
data.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,UpperBound,LowerBound,BasePeriod,Source,FootNote,Nature,Units,[Age],[Location],[Reporting Type],[Sex]
0,5,5.1,5.1.1,SG_LGL_GENEQLFP,"Legal frameworks that promote, enforce and mon...",1,World,2018,67.76,2018,NaN,NaN,NaN,UN Women,Data are derived from an assessment of country...,G,PERCENT,NaN,NaN,G,NaN
1,5,5.1,5.1.1,SG_LGL_GENEQLFP,"Legal frameworks that promote, enforce and mon...",8,Albania,2018,100.00,2018,NaN,NaN,NaN,UN Women,Data are derived from an assessment of country...,G,PERCENT,NaN,NaN,G,NaN

In [10]:
data["[Sex]"].value_counts()

FEMALE     16565
BOTHSEX     4700
MALE        3269
Name: [Sex], dtype: int64

In [27]:
df=data[data.Indicator=="5.4.1"]
df.head(5)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,UpperBound,LowerBound,BasePeriod,Source,FootNote,Nature,Units,[Age],[Location],[Reporting Type],[Sex]
1186,5,5.4,5.4.1,SL_DOM_TSPDCW,"Proportion of time spent on unpaid care work, ...",8,Albania,2011,3.33333,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,NaN,CA,PERCENT,10+,RURAL,G,FEMALE
1187,5,5.4,5.4.1,SL_DOM_TSPDCW,"Proportion of time spent on unpaid care work, ...",8,Albania,2011,0.34708,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,NaN,CA,PERCENT,10+,RURAL,G,MALE
1188,5,5.4,5.4.1,SL_DOM_TSPDCW,"Proportion of time spent on unpaid care work, ...",8,Albania,2011,1.11125,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,NaN,CA,PERCENT,65+,RURAL,G,FEMALE
1189,5,5.4,5.4.1,SL_DOM_TSPDCW,"Proportion of time spent on unpaid care work, ...",8,Albania,2011,1.59708,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,NaN,CA,PERCENT,65+,URBAN,G,FEMALE
1190,5,5.4,5.4.1,SL_DOM_TSPDCW,"Proportion of time spent on unpaid care work, ...",8,Albania,2011,0.55542,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,NaN,CA,PERCENT,65+,URBAN,G,MALE

In [22]:
df.shape

(6296, 21)

In [28]:
df.SeriesDescription.unique()

array(['Proportion of time spent on unpaid care work, by sex, age and location (%)',
       'Proportion of time spent on unpaid domestic chores, by sex, age and location (%)',
       'Proportion of time spent on unpaid domestic chores and care work, by sex, age and location (%)'],
      dtype=object)

In [29]:
ds = df[df.SeriesDescription == "Proportion of time spent on unpaid domestic chores, by sex, age and location (%)"]

In [30]:
ds.shape

(2053, 21)

In [31]:
ds.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       ' UpperBound', ' LowerBound', ' BasePeriod', ' Source', 'FootNote',
       'Nature', 'Units', '[Age]', '[Location]', '[Reporting Type]', '[Sex]'],
      dtype='object')

In [48]:
#ds = ds.rename(columns={"[Age]":"Age","[Sex]":"Gender","GeoAreaName":"Country"})
ds = ds.rename(columns={"[Location]":"Location"})

In [49]:
ds.head(1)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,Country,TimePeriod,Value,Time_Detail,UpperBound,LowerBound,BasePeriod,Source,FootNote,Nature,Units,Age,Location,[Reporting Type],Gender
3212,5,5.4,5.4.1,SL_DOM_TSPDDC,Proportion of time spent on unpaid domestic ch...,8,Albania,2011,6.18042,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,"Unpaid domestic work includes ""Other unpaid wo...",CA,PERCENT,65+,ALLAREA,G,MALE

In [52]:
ds.groupby("Country")["Gender","Age"].agg('count')

                                                    Gender  Age
Country
Albania                                                 12   12
Algeria                                                  8    8
Argentina                                                6    6
Armenia                                                 38   38
Australia                                                2    2
...                                                    ...  ...
Turkey                                                  48   48
United Kingdom of Great Britain and Northern Ir...      24   24
United Republic of Tanzania                              6    6
United States of America                               210  210
Uruguay                                                  4    4

[82 rows x 2 columns]

In [55]:
test =ds.pivot_table(index="Country",values=["Age","Gender"],columns="Value")#,aggfunc={'mean','median','std','count'})

DataError: No numeric types to aggregate

In [56]:
gender_map = {'MALE': 0, 'FEMALE': 1}
ds.Gender = ds.Gender.map(gender_map)
ds.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,Country,TimePeriod,Value,Time_Detail,UpperBound,LowerBound,BasePeriod,Source,FootNote,Nature,Units,Age,Location,[Reporting Type],Gender
3212,5,5.4,5.4.1,SL_DOM_TSPDDC,Proportion of time spent on unpaid domestic ch...,8,Albania,2011,6.18042,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,"Unpaid domestic work includes ""Other unpaid wo...",CA,PERCENT,65+,ALLAREA,G,0
3213,5,5.4,5.4.1,SL_DOM_TSPDDC,Proportion of time spent on unpaid domestic ch...,8,Albania,2011,21.31958,2011,NaN,NaN,NaN,Calculated by UNSD based on available country ...,"Unpaid domestic work includes ""Other unpaid wo...",CA,PERCENT,10+,RURAL,G,1

In [59]:
per_country = ds.groupby("Country")[["Value","TimePeriod","Gender"]].agg('count')

In [63]:
ds["[Reporting Type]"].value_counts()

G    2053
Name: [Reporting Type], dtype: int64

In [64]:
ds = pd.read_csv("C:/Users/tvpia/Desktop/Hack1/hackathon-ironhack/datasets/country_values.csv")

In [65]:
ds.head(5)

,Goal,series_description,country,year,value,source,nature,age,location,sex
0,5,Proportion of time spent on unpaid domestic ch...,Albania,2011,6.18042,NaN,CA,65+,ALLAREA,MALE
1,5,Proportion of time spent on unpaid domestic ch...,Albania,2011,21.31958,NaN,CA,10+,RURAL,FEMALE
2,5,Proportion of time spent on unpaid domestic ch...,Albania,2011,3.54167,NaN,CA,10+,RURAL,MALE
3,5,Proportion of time spent on unpaid domestic ch...,Albania,2011,18.54167,NaN,CA,65+,RURAL,FEMALE
4,5,Proportion of time spent on unpaid domestic ch...,Albania,2011,6.25000,NaN,CA,65+,RURAL,MALE

In [66]:
ds.shape

(2053, 10)

In [67]:
ds[country==]

In [68]:
max_year_dict = ds.groupby('country').agg({'year': 'max'}).to_dict().get('year')

In [69]:
max_year_dict

{'Albania': 2011,
 'Algeria': 2012,
 'Argentina': 2013,
 'Armenia': 2008,
 'Australia': 2006,
 'Austria': 2009,
 'Belarus': 2015,
 'Belgium': 2013,
 'Bhutan': 2015,
 'Brazil': 2009,
 'Bulgaria': 2010,
 'Cameroon': 2014,
 'Canada': 2016,
 'Chile': 2015,
 'China': 2018,
 'China, Hong Kong Special Administrative Region': 2013,
 'Colombia': 2013,
 'Costa Rica': 2017,
 'Denmark': 2009,
 'Dominican Republic': 2016,
 'Ecuador': 2012,
 'Egypt': 2015,
 'El Salvador': 2010,
 'Estonia': 2010,
 'Ethiopia': 2013,
 'Fiji': 2016,
 'Finland': 2010,
 'France': 2010,
 'Germany': 2013,
 'Ghana': 2009,
 'Greece': 2014,
 'Guatemala': 2014,
 'Honduras': 2009,
 'Hungary': 2010,
 'Iran (Islamic Republic of)': 2009,
 'Iraq': 2007,
 'Ireland': 2005,
 'Italy': 2014,
 'Japan': 2016,
 'Kazakhstan': 2018,
 'Kyrgyzstan': 2015,
 "Lao People's Democratic Republic": 2017,
 'Latvia': 2003,
 'Liberia': 2010,
 'Lithuania': 2003,
 'Luxembourg': 2014,
 'Malaysia': 2003,
 'Malta': 2002,
 'Mauritius': 2003,
 'Mexico': 2014,
 'Mongolia': 2015,
 'Netherlands': 2012,
 'New Zealand': 2010,
 'North Macedonia': 2015,
 'Norway': 2011,
 'Oman': 2008,
 'Pakistan': 2007,
 'Panama': 2011,
 'Paraguay': 2016,
 'Peru': 2010,
 'Poland': 2013,
 'Portugal': 2015,
 'Qatar': 2013,
 'Republic of Korea': 2014,
 'Republic of Moldova': 2012,
 'Romania': 2012,
 'Russian Federation': 2014,
 'Réunion': 2010,
 'Serbia': 2015,
 'Slovenia': 2001,
 'South Africa': 2010,
 'Spain': 2010,
 'State of Palestine': 2013,
 'Sweden': 2011,
 'Switzerland': 2016,
 'Thailand': 2015,
 'Tunisia': 2006,
 'Turkey': 2015,
 'United Kingdom of Great Britain and Northern Ireland': 2015,
 'United Republic of Tanzania': 2014,
 'United States of America': 2017,
 'Uruguay': 2013}

In [72]:
df = df.loc[df.apply(lambda x: max_year_dict.get(x.Country) == x.year, axis = 1)]

AttributeError: ("'Series' object has no attribute 'Country'", 'occurred at index 1186')

In [ ]:
airbnb_clean["days of occupancy"] =  np.where(airbnb_clean["days of occupancy"] >256 , 256, airbnb_clean["days of occupancy"])

In [ ]:
df_new[df_new['l_ext'].isin([31, 22, 30, 25, 64])]

In [ ]:
np.where(ds.Age.isin(ds.Range),)

In [ ]:
groupby country et creer une liste avec les range de change pays
creer un dictionnaire avec pour chaque pays

In [90]:
import intervals as I

In [91]:
from interval import Interval, IntervalSet
r1 = IntervalSet([Interval(1, 1000), Interval(1100, 1200)])
r2 = IntervalSet([Interval(30, 50), Interval(60, 200), Interval(1150, 1300)])
print(r1 - r2)

ModuleNotFoundError: No module named 'interval'

In [83]:
import re

In [84]:
ds.loc[~ds.age.str.contains('+', regex=False), 'age'].apply(lambda x : [i for i in range(int(re.findall('\d{2}', x)[0]), int(re.findall('\d{2}', x)[1]))])

IndexError: list index out of range

In [104]:
new = pd.read_csv("C:/Users/tvpia/Desktop/Hack1/hackathon-ironhack/datasets/country_values_age_treatment_incomplete.csv")

In [109]:
new.age.str.startswith("[").value_counts()

True     752
False    561
Name: age, dtype: int64

In [110]:
new["age2"]=new.age
new

,Unnamed: 0,series_description,country,year,value,source,nature,age,location,sex,age2
0,0,Proportion of time spent on unpaid domestic ch...,Albania,2011,89,Calculated by UNSD based on available country ...,CA,65+,ALLAREA,0,65+
1,1,Proportion of time spent on unpaid domestic ch...,Albania,2011,307,Calculated by UNSD based on available country ...,CA,10+,RURAL,1,10+
2,2,Proportion of time spent on unpaid domestic ch...,Albania,2011,51,Calculated by UNSD based on available country ...,CA,10+,RURAL,0,10+
3,3,Proportion of time spent on unpaid domestic ch...,Albania,2011,267,Calculated by UNSD based on available country ...,CA,65+,RURAL,1,65+
4,4,Proportion of time spent on unpaid domestic ch...,Albania,2011,90,Calculated by UNSD based on available country ...,CA,65+,RURAL,0,65+
...,...,...,...,...,...,...,...,...,...,...,...
1308,1308,Proportion of time spent on unpaid domestic ch...,United States of America,2017,130,US Bureau of Labor Statistics based on America...,C,"[45, 46, 47, 48, 49, 50, 51, 52, 53]",ALLAREA,0,"[45, 46, 47, 48, 49, 50, 51, 52, 53]"
1309,1309,Proportion of time spent on unpaid domestic ch...,United States of America,2017,193,US Bureau of Labor Statistics based on America...,C,"[45, 46, 47, 48, 49, 50, 51, 52, 53]",ALLAREA,1,"[45, 46, 47, 48, 49, 50, 51, 52, 53]"
1310,1310,Proportion of time spent on unpaid domestic ch...,United States of America,2017,214,US Bureau of Labor Statistics based on America...,C,65+,ALLAREA,1,65+
1311,1311,Proportion of time spent on unpaid domestic ch...,Uruguay,2013,206,Data provided by the Economic Commission for L...,CA,15+,ALLAREA,1,15+
1312,1312,Proportion of time spent on unpaid domestic ch...,Uruguay,2013,81,Data provided by the Economic Commission for L...,CA,15+,ALLAREA,0,15+

In [119]:
dict_range = dict(zip(list(new.country),list(new.age)))

In [121]:
dict_range

{'Albania': '65+',
 'Algeria': '12+',
 'Argentina': '15+',
 'Australia': '15+',
 'Austria': '10+',
 'Armenia': '[55, 56, 57, 58, 59, 60, 61, 62, 63]',
 'Belgium': '[55, 56, 57, 58, 59, 60, 61, 62, 63]',
 'Bhutan': '15+',
 'Brazil': '10+',
 'Bulgaria': '[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73]',
 'Belarus': '10+',
 'Cameroon': '[55, 56, 57, 58, 59, 60, 61, 62, 63]',
 'Canada': '[15, 16, 17, 18, 19, 20, 21, 22, 23]',
 'Chile': '[55, 56, 57, 58, 59, 60, 61, 62, 63]',
 'China': '[55, 56, 57, 58, 59, 60, 61, 62, 63]',
 'Colombia': '65+',
 'Costa Rica': '[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]',
 'Denmark': '[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73]',
 'Dominican Republic': '15+',
 'Ecuador': '15+',
 'El Salvador': '15+',
 'Ethiopia': '10+',
 'Estonia': '[45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63]',
 'Fiji': '[45, 46, 47, 48, 49, 50, 51, 52, 53]',
 'Finland': '10+',
 'France': '[45, 46, 47, 48, 49, 50, 51, 52, 53]',
 'State of Palestine': '10+',
 'Germany': '[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]',
 'Ghana': '10+',
 'Greece': '65+',
 'Guatemala': '15+',
 'Honduras': '15+',
 'China, Hong Kong Special Administrative Region': '15+',
 'Hungary': '[15, 16, 17, 18, 19, 20, 21, 22, 23]',
 'Iran (Islamic Republic of)': '15+',
 'Iraq': '10+',
 'Ireland': '[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63]',
 'Italy': '[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]',
 'Japan': '[55, 56, 57, 58, 59, 60, 61, 62, 63]',
 'Kazakhstan': '[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]',
 'Republic of Korea': '[15, 16, 17, 18, 19, 20, 21, 22, 23]',
 'Kyrgyzstan': '12+',
 "Lao People's Democratic Republic": '[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]',
 'Latvia': '[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73]',
 'Liberia': '15+',
 'Lithuania': '[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73]',
 'Luxembourg': '10+',
 'Malaysia': '[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63]',
 'Malta': '10+',
 'Mauritius': '10+',
 'Mexico': '15+',
 'Mongolia': '65+',
 'Republic of Moldova': '65+',
 'Oman': '[15, 16, 17, 18, 19, 20, 21, 22, 23]',
 'Netherlands': '[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73]',
 'New Zealand': '12+',
 'Norway': '[15, 16, 17, 18, 19, 20, 21, 22, 23]',
 'Pakistan': '10+',
 'Panama': '15+',
 'Paraguay': '65+',
 'Peru': '65+',
 'Poland': '[45, 46, 47, 48, 49, 50, 51, 52, 53]',
 'Portugal': '[45, 46, 47, 48, 49, 50, 51, 52, 53]',
 'Qatar': '[45, 46, 47, 48, 49, 50, 51, 52, 53]',
 'Réunion': '15+',
 'Romania': '[55, 56, 57, 58, 59, 60, 61, 62, 63]',
 'Russian Federation': '15+',
 'Serbia': '[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]',
 'Slovenia': '[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73]',
 'South Africa': '10+',
 'Spain': '[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73]',
 'Sweden': '[15, 16, 17, 18, 19, 20, 21, 22, 23]',
 'Switzerland': '[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]',
 'Thailand': '6+',
 'Tunisia': '15+',
 'Turkey': '65+',
 'North Macedonia': '10+',
 'Egypt': '10+',
 'United Kingdom of Great Britain and Northern Ireland': '[15, 16, 17, 18, 19, 20, 21, 22, 23]',
 'United Republic of Tanzania': '5+',
 'United States of America': '65+',
 'Uruguay': '15+'}

In [122]:
rev_dict = {} 
  
for key, value in dict_range.items(): 
    rev_dict.setdefault(value, set()).add(key) 
      
result = [key for key, values in rev_dict.items() 
                              if len(values) > 1] 

print("duplicate values", str(result))

duplicate values ['65+', '12+', '15+', '10+', '[55, 56, 57, 58, 59, 60, 61, 62, 63]', '[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73]', '[15, 16, 17, 18, 19, 20, 21, 22, 23]', '[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]', '[45, 46, 47, 48, 49, 50, 51, 52, 53]', '[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63]']

In [125]:
new[new.country=="France"]

,Unnamed: 0,series_description,country,year,value,source,nature,age,location,sex,age2
413,413,Proportion of time spent on unpaid domestic ch...,France,2010,244,Institut National de la Statistique et des Etu...,C,65+,ALLAREA,1,65+
414,414,Proportion of time spent on unpaid domestic ch...,France,2010,192,Institut National de la Statistique et des Etu...,C,65+,ALLAREA,0,65+
415,415,Proportion of time spent on unpaid domestic ch...,France,2010,90,Institut National de la Statistique et des Etu...,C,"[15, 16, 17, 18, 19, 20, 21, 22, 23]",ALLAREA,1,"[15, 16, 17, 18, 19, 20, 21, 22, 23]"
416,416,Proportion of time spent on unpaid domestic ch...,France,2010,49,Institut National de la Statistique et des Etu...,C,"[15, 16, 17, 18, 19, 20, 21, 22, 23]",ALLAREA,0,"[15, 16, 17, 18, 19, 20, 21, 22, 23]"
417,417,Proportion of time spent on unpaid domestic ch...,France,2010,191,Institut National de la Statistique et des Etu...,C,15+,ALLAREA,1,15+
418,418,Proportion of time spent on unpaid domestic ch...,France,2010,119,Institut National de la Statistique et des Etu...,C,15+,ALLAREA,0,15+
419,419,Proportion of time spent on unpaid domestic ch...,France,2010,243,Institut National de la Statistique et des Etu...,C,"[55, 56, 57, 58, 59, 60, 61, 62, 63]",ALLAREA,1,"[55, 56, 57, 58, 59, 60, 61, 62, 63]"
420,420,Proportion of time spent on unpaid domestic ch...,France,2010,178,Institut National de la Statistique et des Etu...,C,"[55, 56, 57, 58, 59, 60, 61, 62, 63]",ALLAREA,0,"[55, 56, 57, 58, 59, 60, 61, 62, 63]"
421,421,Proportion of time spent on unpaid domestic ch...,France,2010,179,Institut National de la Statistique et des Etu...,C,"[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 3...",ALLAREA,1,"[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 3..."
422,422,Proportion of time spent on unpaid domestic ch...,France,2010,103,Institut National de la Statistique et des Etu...,C,"[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 3...",ALLAREA,0,"[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 3..."
423,423,Proportion of time spent on unpaid domestic ch...,France,2010,218,Institut National de la Statistique et des Etu...,C,"[45, 46, 47, 48, 49, 50, 51, 52, 53]",ALLAREA,1,"[45, 46, 47, 48, 49, 50, 51, 52, 53]"
424,424,Proportion of time spent on unpaid domestic ch...,France,2010,119,Institut National de la Statistique et des Etu...,C,"[45, 46, 47, 48, 49, 50, 51, 52, 53]",ALLAREA,0,"[45, 46, 47, 48, 49, 50, 51, 52, 53]"